include COPYING
include TODO
include README
include data/whisperback.desktop
include data/whisperback.svg 
include data/whisperback.ui
include doc/whisperback.t2t
include doc/config.py.sample
recursive-include po *
