include config.sample
include COPYING
include data/whisperback.desktop
include data/whisperback.svg 
include data/whisperback.xml
include doc/whisperback.t2t
include doc/README
recursive-include po *
