include COPYING
include TODO
include README
include README.translators
include data/whisperback.desktop
include data/whisperback.svg 
include data/whisperback.ui
include doc/whisperback.t2t
include doc/config.py.sample
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/pyversions
include debian/rules
recursive-include po *
