[dest]
address = mail@example.org
fingerprint = 0000000000000000000000000000000000000000

[sender]
address = mail@otherexample;org

[message]
subject = The subject of the mail

[smtp]
host = smtp.example.org
port = 25
