Source: whisperback
Section: net
Priority: optional
Maintainer: Tails developers <tails@boum.org>
Homepage: https://git-tails.immerda.ch/whisperback/
Vcs-Browser: https://git-tails.immerda.ch/whisperback/
Vcs-Git: https://git-tails.immerda.ch/whisperback
Build-Depends: debhelper (>= 7.0.50~),
               dh-python,
               gir1.2-gtk-3.0,
               python3-all,
               python3-distutils-extra,
               python3-gi,
               python3-gnupg,
               python3-socks (>= 1.5.0) | python3-socksipy (>= 1.5.0) | python3-pysocks (>= 1.5.0),
               txt2tags
Standards-Version: 3.9.8

Package: whisperback
Architecture: all
Depends: gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         python3-gi,
         python3-gnupg,
         python3-regex,
         python3-socks (>= 1.5.0) | python3-socksipy (>= 1.5.0) | python3-pysocks (>= 1.5.0),
         ${misc:Depends},
         ${python3:Depends}
Description: send feedback using encrypted email
 WhisperBack is designed to allow Live system users to be able to report bugs
 or issues in a simple yet secure manner.
 .
 A simple graphical user interface allows sending a filled out form to
 an email address. The email is encrypted using GnuPG and sent to the
 configured SMTP relay with prior verification of its X.509
 certificate.
 .
 Please note that this package is useless without a configuration file
 that must be installed by the Live system developers.
