Source: whisperback
Section: net
Priority: optional
Maintainer: Tails developers <tails@boum.org>
Homepage: http://git.immerda.ch/?p=whisperback.git
Vcs-Browser: http://git.immerda.ch/?p=whisperback.git
Vcs-Git: git://git.immerda.ch/whisperback.git
Build-Depends: debhelper (>= 7.0.50~), dh-python, python3-all,
 python3-distutils-extra, txt2tags
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4

Package: whisperback
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-gnupg, python3-gi,
 gir1.2-gtk-3.0, gir1.2-webkit-3.0, gir1.2-glib-2.0
Description: send feedback using encrypted email
 WhisperBack is designed to allow Live system users to be able to report bugs
 or issues in a simple yet secure manner.
 .
 A simple graphical user interface allows sending a filled out form to
 an email address. The email is encrypted using GnuPG and sent to the
 configured SMTP relay with prior verification of its X.509
 certificate.
 .
 Please note that this package is useless without a configuration file
 that must be installed by the Live system developers.
