[Desktop Entry]
Version=1.7.20
Name=WhisperBack Error Reporting
Comment=Send feedback via encrypted e-mail
Keywords=feedback;bug;report;tails,error;
Type=Application
Exec=whisperback
Icon=whisperback
Categories=Application;System;
Terminal=false
StartupNotify=true
StartupWMClass=whisperback
