[Desktop Entry]
Version=1.0-rc1
Name=Whisperback
Comment=Send a feedback in an encrypted mail
Type=Application
Exec=whisperback
Icon=whisperback
Categories=Application;System;
Terminal=false
StartupNotify=false
