[Desktop Entry]
Version=1.6.22
Name=WhisperBack
Comment=Send feedback via encrypted e-mail
Type=Application
Exec=whisperback
Icon=whisperback
Categories=Application;System;
Terminal=false
StartupNotify=false
